Package: org.tomcool.screensaversettings
Name: Screensaver Settings
Depends: org.tomcool.atvsettingsloader, org.tomcool.smframework(>=0.5.7)
Version: 1.1.1-29
Architecture: iphoneos-arm
Description: Allows for custom control of Screensavers
Maintainer: Thomas Cool <thomas.cool@me.com>
Author: Thomas Cool <thomas.cool@me.com>
Section: ATV_Settings
Installed-Size: 108
